main {
   font-family: Century Gothic, Arial, sans-serif;
}

#form {
   font-size: 22px;

   padding-right: 250px;
   padding-left: 50px;
   padding-top: 20px;
   text-align: justify;
   line-height: 1.6;
}

.question {

   font-size: 24px;
   padding-top: 20px;
   line-height: 2;
   text-align: justify;
}

textarea {
   font-size: 24px;
   height: 300px;
   width: 560px;
}


label {
   left: 20px;
   bottom: 25px;
   display: block;
   position: relative;
}

input {
   display: block;
}

h1 {
   padding-top: 20px;
   padding-left: 50px;
   font-size: 50px;
   font-family: "Braga", "Arial", cursive;
}

#submit {
   border: 3px solid white;
   height: 50px;
   width: 80px;
   background-color: #2b2b2b;
   color: white;
   margin-top: 20px;
}