h1{
    font-family: "Braga", "Arial", cursive;
  }

main{
   font-size: large;
   font-family: Century Gothic, Arial, sans-serif;
   padding-right: 250px;
   padding-left: 50px;
   padding-top: 50px;
   text-align: justify;
   line-height: 1.8;
   
}

p{
  margin-bottom: 50px;
}

table{
  border-spacing: 50px;
}

iframe{
  width: 600px;
  height: 450px;
  border: 0px;
}

@media only screen and (max-width: 1300px) {

  iframe {
    width: 100%;
    height: auto;
  }
}


@media only screen and (max-width: 1492px) {
  main{
    padding-right: 20px;
    padding-left: 20px;
  }

  table{
    border-spacing: 20px;
  }

}
  