main {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 600px;
    text-align: justify;
    line-height: 1.5;

    font-size: large;
    font-family: Century Gothic, Arial, sans-serif;
}

#me {
    padding-left: 20px;
}



h1 {
    font-family: "Braga", "Arial", cursive;
    font-size: large;
    padding-bottom: 12px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

#pb {
    margin-left: 20px;
    margin-right: 25px;
}

#news {
    border: 2px solid black;
    width: 400px;
    padding: 5px 10px 5px 10px;
    margin-left: 1400px;
    margin-top: -325px;
    position: absolute;
    color: #fff;
}

iframe{
    width:400px;
    height: 225px;
  }

@media only screen and (max-width: 1492px) {
    main {
        padding-right: 20px;
    }

    #news {
        position: static;
        margin-left: 20px;
        margin-top: 20px;
    }
}


@media only screen and (max-width: 768px) {
    #pb {
        width: 200px;
    }




}