* {
  margin: 0;
  padding: 0;
}

.men {
  width: 350px;
  height: 350px;
  margin-right: 10px;
  margin-top: 10px;
}

.women {
  width: 350px;
  height: 350px;
}

.unisex {
  width: 350px;
  height: 350px;
}

#start {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#women_btn {
  position: absolute;
  top: 620px;
  right: 1060px;
  padding-right: 50px;
}

#men_btn {
  position: absolute;
  top: 620px;
  left: 1100px;
}

.selectQuantity{
  border: 3px solid white;
  border-left: 0px;
  height: 50px;
  width: 50px;
  background-color: #2b2b2b;
  color: white; 
}

.td2{
  padding-left: 70px;
}

.addTo_btn {
  width: 160px;
  height: 50px;
  border: 3px solid white;
  
  background-color: #2b2b2b;
  color: white;
  font-family: Century Gothic;
}

#shopOverview {
  float: right;
  width: 300px;
  height: auto;
  margin-top: -410px;
  background-color: black;
}

#shoppingCart {
  color: white;
  list-style-type: none;
}

#checkOut {
  width: 160px;
  height: 30px;
  border: 3px solid white;
  margin-top: 10px;
  background-color: #2b2b2b;
  color: white;
  font-family: Century Gothic;
}

@media only screen and (max-width: 1200px) {
  #start{
    width: 100%;
  }
}

@media only screen and (max-width: 1600px) {

  #women_btn {
    position: static;
    top: none;
    right: 0px;
    padding: 20px;
  }
  
  #men_btn {
    position: static;
    top: none;
    left: 0px;
    padding: 20px;
  }
}

@media only screen and (max-width: 1492px) {
  .men, .women, .addTo_btn, .selectQuantity {
    height: auto;
    max-width: 100%;
}

  #table{
      width: 100%;

  }
  
}

@media only screen and (max-width: 1700px) {
  #shopOverview {
    float: none;
    position: static;
    width: 300px;
    height: auto;
    margin-top: 100px;
    margin-left: 40px;
    background-color: black;
  }
}

@media only screen and (max-width: 1200px) {
  .selectQuantity {
    border-left: 3px solid white;;
}
}