* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Century Gothic, Verdana, sans-serif;
  background-size: cover;
  text-align: justify;
  color: white;
  background-color: #1c1c1c;
}

header {
  width: 100%;
  height: 304;
  background-color: #000000;
  position: relative;
}

#banner{
    width: 1324px;
    height: 304px;
}

aside {
  width: 152px;
  height: 309px;
  background-color: #991803;
  float: right;
  border: 1px black;
}

.logo {
  width: 150px;
  position: center;
}

nav {
  width: 100%;
  height: 56px;
  background-color: #383838;
  margin-top: -5px;
  text-align: center;
}

.current {
  background: #991803;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  border: 2px black;
  padding: 10px;
}

nav a:hover {
  color: darkgray;
}

nav ul {
  padding: 10px;
}

#pb {
  width: 310px;
  float: left;
}

main {
  height: 800px;
}

#peach {
  width: 500px;
}

#me{
    padding-left:20px;

}


.link {
    color: #b366ff;
}

.link:visited {
    color: #a6a6a6;

}

footer {
  background-color: black;
  height: 30px;
  width: 100%;
  top: 800px;
  bottom: 0;
  position: relative;
}


@media only screen and (max-width: 768px) {
  

}

