* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Century Gothic, Verdana, sans-serif;
  background-size: cover;
  text-align: justify;
  color: white;
  background-color: #1c1c1c;
}

header {
  width: 100%;
  height: 304;
  background-color: #000000;
  position: relative;
}

#banner {
  width: 1324px;
  height: 304px;
}

aside {
  width: 152px;
  height: 309px;
  background-color: #991803;
  float: right;
  border: 1px black;
}

.logo {
  width: 150px;
  position: center;
}

nav {
  width: 100%;
  height: 57px;
  background-color: #383838;
  margin-top: -5px;
  text-align: center;
  flex-wrap: wrap;

}

.current {
  background: #991803;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  border: 2px black;
  padding: 10px;
}

nav a:hover {
  color: darkgray;
}

nav ul {
  padding: 10px;
}

nav li {
  list-style: none;
  display: inline;
}


#pb {
  width: 310px;
  float: left;
}

main {
  height: 100%;
}

#peach {
  width: 500px;
}

iframe {
  border: 0px;
}

.link {
  color: #a6a6a6;
}

.link:visited {
  color: #b366ff;

}

footer {
  background-color: black;
  height: 40px;
  top: 800px;
  bottom: 0;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;

}


nav .openMenu {
  font-size: 2rem;
  width: 2rem;
  display: none;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media(max-width: 950px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: #991803;
    font-size: 1.6rem;
  }

  nav .mainMenu li {
    padding-bottom: 15px;
  }

  .current {
    background: #383838;
  }

}



@media only screen and (max-width: 1492px) {
  aside {
    height: 52px;
  }

  .logo {
    width: 53px;
    padding-left: 13px;
  }

  .logolink {
    text-decoration: none;
  }

  #banner {
    width: 100%;
    height: auto;
  }


}

@media(max-width: 950px) {
  #invisibleD {
    display: none;
  }
}